			*{
				font-family: Arial;			
			}
			input{
				outline: none;
			}
			body{
				margin:0;
			}
			body>div{
				height: 1420px;
				background-image:url(img/4.gif);
				background-repeat: repeat;
			}
			#head{
				height: 37px;
				background-color: rgba(23,23,23,0.5);
				border-bottom: solid 1px #000;
				box-shadow: 0 1px 1px #646464;
			}
			#head>a{
				position:relative;
				left:185px;
				top:12px;
				color: #a8a8a8;
			}
			a{
				text-decoration:none;
				color:#fff;
				font-size: 12;
			}
			p{
				margin: 0;
				color:#a8a8a8;
				font-size: 12;
			}
			#head>div{
				background-image: url(img/11.gif);
				background-repeat: no-repeat;
				width:90px;
				height: 24px;
				position:absolute;
				right:180px;
				top:9px;
				opacity:;
			}
			#head>div>a>div{
				width: 22px;
				height: 22px;
				margin-right: 8px;
				float: left;
			}
			.title{
				color: #fff;
				font-weight:900;
				font-size: 30;
				position:absolute;
				left: 185px;
				top:72px;
			}
			.title+p{
				position:absolute;
				left: 185px;
				top:98px;
			}
			#search{
				width: 263px;
				height:35px;
				position:absolute;
				left:905px;
				top:72px;
				background-color:#0e0e0e;
				border-radius: 30px;
				background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#000),color-stop(1,#161616));
				box-shadow: 0 1px 3px #686868;
			}
			#search>input{
				background-color: #0e0e0e;
				border:none;
				width: 205px;
				height:35px;
				margin: 0 0 0 16px;
				color: #858585;
				background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#000),color-stop(1,#161616));
			}
			#search>div{
				position:absolute;
				left: 219px;
				top:0px;
				height: 35px;
				width: 44px;
				background-color: #1b1b1b;
				border-radius:30px;
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
			#search>div>input{
				position: absolute;
				left: 6px;
				top:8px;
			}
			.navigation{
				width:980px;
				height: 60px;
				position:absolute;
				left:185px;
				top:137px;
				margin:0;
				padding: 0;
				list-style-type: none;
				border-radius: 5px;
				background-image: url(img/9.png);
				box-shadow: 0 1px 5px #000;
			}
			.navigation_li{
				float: left;
				font-weight: bold;
				border-right: solid #276798 1px;
			}
			.navigation_li>a>div{
				 padding:22px;
				 font-size: 14;
				 text-shadow:0 1px 1px #2e3e4b;
			}
			#picture{
				position: absolute;
				top:218px;
				left:185px;
				box-shadow: 0 3px 12px #000;
			}
			#picture>a>img{
				width:982px;
				height: 358px;
			}
			#picture>div{
				background-color:#191919;
				height: 66px;
			}
			.topic{
				color: #fff;
				font-family: Tahoma;
				font-size: 19;
				position: absolute;
				left:197px;
				top:377px;
				text-shadow:0 1px #686868;
			}
			.topic+p{;
				font-size: 9;
				position: absolute;
				left:487px;
				top:385px;
			}
			#picture>div>a>div{
				width:72px;
				height: 13px;
				padding: 0;
				margin: 0;
				background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#014a8e),color-stop(1,#1a82ca));
				position: absolute;
				right: 196px;
				top:378px;
				font-size: 12;
				font-weight: bold;
				border:0;
				border-radius: 5px;
				color:#fff;
				padding: 10px 22px 10px 22px;
				box-shadow: 0 1px #686868;
			}
			#dot{
				height:20px;
				position: absolute;
				left: 633px;
				top: 657px;
			}
			#dot>a>div{
				background-color: #e1e1e1;
				width:20px;
				height:20px;
				float: left;
				margin: 0 5px 0 5px;
				border-radius: 50px;
				box-shadow: 0 2px 5px #1b1b1b;
			}
			#body{
				background:rgba(00,00,00,0.6);
				width:982px;
				height:642px;
				position: absolute;
				top:706px;
				left:185px;
				color:#fff;
				box-shadow: 0 2px 5px #000;
			}
			#text1{
				width:619px;
				height:235px;
				position:absolute;
				top:27px;
				left:23px;
			}
			.body_topic{
				font-family: Tahoma;
				font-size: 26;
				border-bottom:1px #373737 solid;
				padding-bottom: 14px;
			}
			.text{
				position: absolute;
				top:60px;
				margin: 0;
				padding: 0;
			}
			.text+p{
				position: absolute;
				top:112px;
			}
			#text1>a>div{
				padding:5px 18px 5px 18px;
				background:-webkit-gradient(linear,left top,left bottom,color-stop(0,#014a8e),color-stop(1,#1a82ca));
				position: absolute;
				bottom:0;
				font-weight: bold;
				border-radius: 5px;
			}
			#text2{
				width:289px;
				height: 234px;
				position: absolute;
				top:27px;
				right: 22px;
			}
			.text>li{
				margin:0 0 12px 0;
			}
			.text>li>a{
				text-decoration:underline;
				color:#349ce6;
			}
			#image{
				width:619px;
				height:266px;
				position: absolute;
				bottom:41px;
				left:23px;
			}
			#image>div{
				width:619px;
				height: 157px;
				background:rgba(09,09,09,0.6);
				position: absolute;
				left: 0;
				bottom:0;
			}
			#image>div>div{
				width:126px;
				height:120px;
				float: left;
				margin-right: 17px;
				position: relative;
				top:20px;
				left:30px;
			}
			#image>div>div>img{
				width:127px;
				height: 98px;
			}
			#image>div>div>a>p{
				position: absolute;
				bottom:0;
				right: 3px;
				font-size: 11;
			}
			#image_input{
				position: absolute;
				right: 9px;
				top:66px;
			}
			#image_input+input{
				position: absolute;
				left: 9px;
				top:66px;
			}
			#address{
				width: 289px;
				height: 266px;
				position: absolute;
				bottom:41px;
				right: 22px;
			}
			#address>p>a{
				text-decoration:underline;
				color:#349ce6;
			}
			#address>img{
				position: absolute;
				bottom:0; 
			}
			#foot{
				height: 15px;
				width:982px;
				position: absolute;
				top:1349px;
				right: 182px;
				margin-top:23px; 
			}
			#foot>a{
				font-family: Arial;
				color: #a8a8a8;
			}
			#foot>p{
				position: absolute;
				right: 0;
				bottom: 0;
			}
			#foot>p>a{
				font-family: Arial;
				color: #a8a8a8;
				text-decoration:underline;
				color: #afb0b0;
			}
			li.navigation_li:hover{
				background-color: #4a9fcb;
			}
			a.underline:hover{
				color: #fff;
				text-decoration:underline;
			}
			div.input:hover{
				background-color: #4a9fcb;
			}